{% extends "base.html" %}
{% block content %}
<div class="row" style="padding-top:50px; width:70%; margin:auto;">
    <form method="POST" action="{% url 'add_note' %}">
        {% csrf_token %}
        <div class="mb-3">
            {{form.title.errors}}
            <label for="notetitle" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="notetitle">
            </div>
          <div class="mb-3">
            {{form.description.errors}}
            <label for="notedescription" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="notedescription" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Add Note</button>
    </form>
</div>
{% endblock %}